mixin ticket-card(props)
  .ticket-card(class=`ticket-card--color${props.color}`)
    if(props.imagesrc)
      .ticket-card__img
        img(src=props.imagesrc.main srcset=props.imagesrc.retina alt='Изображение товара')
    .ticket-card__info
      span.ticket-card__label=props.label
      .ticket-card__categories
         each category in props.categories
           a(href='#')=category.value
      .ticket-card__header
        h3.ticket-card__title
          a(href='#')=props.title
        p.ticket-card__price
          span.js-sum=props.price
            | &#x20BD;
      .ticket-card__desc
        p=props.description