mixin input-radio(options, args)
  each option in options
    div(class=args.wrapperclass)
      input.visually-hidden(type='radio' id=option.id name=option.name value=option.value checked=option.isChecked)
      label(class=args.labelclass, for=option.id)=option.label