mixin input-radio(options, wrapperClass, labelClass)
  each option in options
    div(class=wrapperClass)
      input.visually-hidden(type='radio' id=option.id name=option.name value=option.value checked=option.isChecked)
      label(class=labelClass for=option.id)=option.label