mixin input-select(options, props)
  select(name=props.name id=props.id class=props.classname data-label=props.datalabel multiple=props.multiple)
    each option in options
      option(value=option.value selected=option.isSelected)=option.text