mixin input-file(props)
  input.visually-hidden.js-file-field(type='file' id=props.id name=props.name)
  label(for=props.name)
    span(class=props.classname) Загрузить фото…
    span(class=props.otherclassname) Загрузить другое фото…