mixin input-text(args)
  input.js-field(type=args.type class=args.classname id=args.id name=args.name value=args.value placeholder=args.placeholder required=args.required aria-label=args.arialabel, min=args.min, max=args.max)
  if args.label
    label(for=id)=args.label
  if args.required
    span Обязательное поле
