mixin input-radio(options, props)
  each option in options
    div(class=props.wrapperclass)
      input.visually-hidden(type='radio' id=option.id name=option.name value=option.value checked=option.isChecked)
      label(class=props.labelclass, for=option.id)=option.label