mixin input-file(args)
  input.visually-hidden.js-file-field(type='file' id=args.id name=args.name)
  label(for=args.name)
    span(class=args.classname) Загрузить фото…
    span(class=args.otherclassname) Загрузить другое фото…