mixin input-file(name, uploadClassName, uploadAnotherOtherClassName)
  input.visually-hidden.js-file-field(type='file' name=name id=name)
  label(for=name)
    span(class=uploadClassName) Загрузить фото…
    span(class=uploadAnotherOtherClassName) Загрузить другое фото…