mixin input-select(options, args)
  select(name=args.name id=args.id class=args.classname data-label=args.datalabel multiple=args.multiple)
    each option in options
      option(value=option.value selected=option.isSelected)=option.text